

.top {
  height: 10%;
  width: 90%;
  margin: auto;
}

.top h1 {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 200%;
}

.text {
  height: 10%;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.text p {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;

}

.button {
  background-color: #1481BA;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  width: 40%;
  height: 25%;
  margin: auto;
  border-radius: 5px;
}

.button p {
  color: black;
  font-size: 300%;
  text-align: center;
}

ul {
  list-style: none;
  margin: auto;
  text-align: center;
}

li {
  width: 10%;
  float: left;
  margin: 5%;
  font-family: "Comic Sans MS", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
